.about{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__block{
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 110px;
    background-color: var(--clr-prdark);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.about__block img{
    /* height: 450px;
    width: 455px; */
    height: 410px;
    width: 415px;
}

.about__img{
    display: none;
}

.about__content{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

.about__title{
    font-size: var(--size-5xl);
    color: var(--clr-dark);  
    position: relative;
    left: 4.375rem;
    width: -moz-fit-content;
    width: fit-content;
}

.about__description{
    width: 85%;
    font-size: var(--size-lg);
    color: var(--clr-slate800);
    line-height: 1.6rem;
    position: relative;
    letter-spacing: .5px;
    word-spacing: .5px;
    left: 4.375rem;
}

@media only screen and (min-width: 1650px){

    .about__block {
        padding-right: 160px;
    }
    .about__block img {
        height: 630px;
        width: 635px;
    }

    .about__title {
        font-size: var(--size-7xl);
        left: 6.25rem;
    }

    .about__description {
        width: 90%;
        font-size: var(--size-3xl);
        line-height: 2.8rem;
        left: 6.25rem;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1496px){

    .about__block{
        padding-right: 70px;
    }

    .about__block img {
        height: 360px;
        width: 365px;
    }
}

@media only screen and (min-width: 1023px) and (max-width: 1280px){

    .about__block {
        width: 58%;
        padding-right: 60px;
    }

    .about__block img{
        height: 340px;
        width: 345px;    
    }

    .about__content {
        gap: 1rem;
    }

    .about__title {
        left: 2.8125rem;
    }

    .about__description {
        font-size: var(--size-base);
        left: 2.8125rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){

    .about{
        flex-direction: column;
        gap: 2rem;
    }

    .about__block{
        display: none;
    }

    .about__img{
        display: block;
        margin: 0 auto;
    }

    .about__img img{
        width: 28.6875rem;
    }

    .about{
        align-items: center;
    }

    .about__content{
        width: 100%;
    }

    .about__description{
        width: 100%;
    }

    .about__content{
        gap: 1rem;
    }
    .about__title {
        font-size: var(--size-4xl);
        left: 0;
    }

    .about__description{
        font-size: var(--size-base);
        left: 0;
    }
}


@media only screen and (max-width: 768px){

    .about{
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }

    .about__block{
        display: none;
    }

    .about__img{
        display: block;
        margin: 0 auto;
    }

    .about__img img{
        width: 28.6875rem;
    }

    .about__content{
        width: 100%;
    }

    .about__description{
        width: 100%;
    }

    .about__content{
        gap: 1rem;
    }
    .about__title {
        font-size: var(--size-4xl);
        left: 0;
    }

    .about__description{
        font-size: var(--size-base);
        left: 0;
    }
}

@media only screen and (max-width: 475px){
    
    .about__title {
        font-size: var(--size-3xl);
    }

    .about__description{
        font-size: var(--size-sm);
    }
}