.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.contact__title{
    font-size: var(--size-5xl);
    color: var(--clr-dark);  
}

.contact__description{
    font-size: var(--size-xl);
    color: var(--clr-slate800);
    line-height: 1.6rem;
    max-width: 60ch;
}

.contact__btn button{
    height: 3rem;
    width: 7.4rem;
    font-size: var(--size-base);
    border-radius: 5px;
    color: var(--clr-light);
    background: var(--clr-rose);
    border: none;
    letter-spacing: .5px;
    font-weight: 600;
    font-family: inherit;
    box-shadow: 1px 4px 10px 1px rgb(225, 29, 72, .4);
    transition: transform .3s,box-shadow .3s;
    margin-top: .7rem;
    cursor: pointer;
}
      
.contact__btn button:hover{
    transform: translateY(-2px);
    background-color: var(--clr-rose);
    box-shadow: 0 14px 28px #e11d4840,0 10px 10px #e11d4838,0 0 100px -25px var(--clr-rose);
}

@media only screen and (min-width: 1650px){

    .contact__title {
        font-size: var(--size-7xl);
    }

    .contact__description {
        font-size: var(--size-3xl);
        line-height: 2.8rem;
    }

    .contact__btn button {
        height: 4.4rem;
        width: 11rem;
        font-size: var(--size-2xl);
    }
}

@media (min-width: 768px) and (max-width: 1280px){

    .contact__title{
        font-size: var(--size-4xl);
    }
 
    .contact__description{
        font-size: var(--size-lg);
    }
}

@media (max-width: 768px) {

    .contact__title{
        font-size: var(--size-4xl);
    }

    .contact__description{
        font-size: var(--size-base);
    }

    .contact__btn button{
        height: 2.75rem;
        width: 6.7rem;
        font-size: var(--size-sm);
    }
}

@media (max-width: 640px) {

    .contact__title{
        font-size: var(--size-3xl);
    }
}