.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.hero__block{
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 70px;
  background-color: var(--clr-prdark);
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.hero__block img{
  /* height: 450px;
  width: 455px; */
  height: 410px;
  width: 415px;
} 

.hero__img{
  display: none;
}

.hero__content{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.hero__name{
  height: 36px;
  font-size: var(--size-3xl);
  color: var(--clr-slate800);
}

.hero__name strong{
  font-size: var(--size-4xl);
  margin-left: 5px;
}

.hero__title{
  text-align: center;
  color: var(--clr-slate800);
  font-size: var(--size-7xl);
  letter-spacing: -.05em;
  line-height: .9;
}

.hero__resume button{
  height: 2.7rem;
  width: 6rem;
  font-size: var(--size-base);
  border-radius: 5px;
  color: var(--clr-light);
  background: var(--clr-rose);
  border: none;
  letter-spacing: .5px;
  font-weight: 600;
  font-family: inherit;
  box-shadow: 1px 4px 10px 1px rgb(225, 29, 72, .4);
  transition: transform .3s,box-shadow .3s;
  cursor: pointer;
}

.hero__resume button:hover{
  transform: translateY(-2px);
  background-color: var(--clr-rose);
  box-shadow: 0 14px 28px #e11d4840,0 10px 10px #e11d4838,0 0 100px -25px var(--clr-rose);
}

.hero__social-media{
  display: flex;
  gap: 15px;
}

.hero__social-media a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--clr-slate800);
  border-radius: 50%;
  box-shadow:  1px 3px 6px 0px rgba(0, 0, 0, .4);
  color: var(--clr-slate800);
  text-decoration: none;
  transition: transform .3s;
  opacity: 0;
  animation: from-down .5s ease 1 forwards;
  animation-delay: calc(.2s * var(--i));
}

.hero__social-media a:hover{
  transform: translateY(-2px);
}

.ig:hover{
  background-color:  rgb(253, 57, 155);
  color: white;
  border: 2px solid rgb(253, 57, 155);
}

.fb:hover{
  background-color:  rgb(101, 101, 255);
  color: white;
  border: 2px solid rgb(101, 101, 255);
}

.ln:hover{
  background-color:  #00acee;
  color: white;
  border: 2px solid #00acee;
}

.git:hover{
  background-color:  #171515;
  color: white;
} 

@keyframes from-down{
  
  0%{
    opacity: 0;
    transform: translateY(7rem);
  }

  100%{
    opacity: 1;
  }
} 

@media only screen and (min-width: 1650px){

  .hero__content {
    gap: 30px;
  }

  .hero__name {
    height: 51px;
    font-size: var(--size-4xl);
  }

  .hero__name strong {
    font-size: var(--size-5xl);
  }

  .hero__title {
    font-size: var(--size-9xl);
  }

  .hero__resume button {
    height: 3.4rem;
    width: 6.9rem;
    font-size: var(--size-lg);
  }

  .hero__social-media {
    gap: 22px;
  }

  .hero__social-media a {
    width: 50px;
    height: 50px;
    font-size: var(--size-xl);
  }

  .hero__block img {
    height: 630px;
    width: 635px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1496px){

  .hero__content {
    gap: 25px;
  }

  .hero__name {
    height: 32px;
    font-size: var(--size-2xl);
  }

  .hero__name strong {
    font-size: var(--size-3xl);
  }

  .hero__title {
    font-size: var(--size-6xl);
  }  

  .hero__block img {
    height: 360px;
    width: 365px;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1280px){

  .hero__name {
    height: 25px;
    font-size: var(--size-xl);
  }

  .hero__name strong {
    font-size: var(--size-2xl);
  }

  .hero__title {
    font-size: var(--size-5xl);
  }  

  .hero__block{
    width: 58%;
  }

.hero__block img {
    height: 340px;
    width: 345px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){

  .hero{
    margin-top: 2rem;
    flex-direction: column;
    gap: 1rem;
  }

  .hero__name {
    height: 31px;
    font-size: var(--size-2xl);
  }

  .hero__name strong {
    font-size: var(--size-3xl);
  }

  .hero__title {
    font-size: var(--size-6xl);
  } 

  .hero__block{
    display: none;
  }

  .hero__img{
    display: block;
  }

  .hero__img img{
    height: 105px;
    width: 105px;
    border-radius: 50%; 
  }  

  .hero__content{
    width: 100%;
    gap: 25px;
  }
}

@media only screen and (max-width: 768px){

  .hero{
    margin-top: 2rem;
    flex-direction: column;
    gap: 1rem;
  }

  .hero__block{
    display: none;
  }

  .hero__img{
    display: block;
  }

  .hero__img img{
    height: 105px;
    width: 105px;
    border-radius: 50%; 
  }  

  .hero__content{
    width: 100%;
  }

  .hero__name {
    height: 25px;
    font-size: var(--size-xl);
  }

  .hero__name strong {
    font-size: var(--size-2xl);
  }

  .hero__title {
    font-size: var(--size-5xl);
  }
}

@media only screen and (max-width: 410px){
  
  .hero__img img{
    height: 95px;
    width: 95px;
  } 
    
  .hero__name {
    height: 21px;
    font-size: var(--size-lg);
  }
  
  .hero__name strong {
    font-size: var(--size-xl);
  }
  
  .hero__title {
    font-size: var(--size-4xl);
  }
  
  .hero__resume button {
    height: 2.4rem;
    width: 5.3rem;
    font-size: var(--size-sm);
  }  
  
  .hero__social-media a {
    width: 37px;
    height: 37px;
  }  
}

@media only screen and (max-width: 306px){

  .hero__img img {
    height: 85px;
    width: 85px;
  }

  .hero__name {
    height: 19px;
    font-size: var(--size-base);
  }

  .hero__name strong {
    font-size: var(--size-lg);
    margin-left: 2px;
  }

  .hero__title {
    font-size: var(--size-3xl);
  }

  .hero__resume button {
    height: 2.3rem;
    width: 5rem;
    font-size: var(--size-xs);
  }
}