.project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.project__title{
    font-size: var(--size-5xl);
    color: var(--clr-dark);
}

.project__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 70%;
    place-items: center;
    text-align: center;
    grid-template-areas:
    'image1 content1'
    'content2 image2'
    'image3 content3'
    'content4 image4'
    'image5 content5'
    'content6 image6';
}

.work__image1 {
    grid-area: image1;
  }

.work__image2 {
    grid-area: image2;
}

.work__image3 {
    grid-area: image3;
}

.work__image4 {
    grid-area: image4;
}

.work__image5 {
    grid-area: image5;
}

.work__image6 {
    grid-area: image6;
}

.work__content1 {
    grid-area: content1;
}

.work__content2 {
    grid-area: content2;
}

.work__content3 {
    grid-area: content3;
}

.work__content4 {
    grid-area: content4;
}

.work__content5 {
    grid-area: content5;
}

.work__content6 {
    grid-area: content6;
}

.project__name{
    display: none;
}

.project__img-wrapper{
    display: inline-flex;
}

.project__subtitle{
    font-size: var(--size-2xl);
    color: var(--clr-dark);
}

.project__description{
    font-size: var(--size-lg);
    color: var(--clr-slate800);
    line-height: 1.6rem;
    margin: 1rem 0;
    max-width: 60ch;
}

.project__details{
    padding: 0 1rem;
}

.project__btn button{
    height: 2.6rem;
    width: 5.7rem;
    font-size: var(--size-base);
    border-radius: 5px;
    color: var(--clr-light);
    background: var(--clr-rose);
    border: none;
    letter-spacing: .5px;
    font-weight: 600;
    font-family: inherit;
    box-shadow: 1px 4px 10px 1px rgb(225, 29, 72, .4);
    transition: transform .3s,box-shadow .3s;
    margin-top: .7rem;
    cursor: pointer;
  }
  
  .project__btn button:hover{
    transform: translateY(-2px);
    background-color: var(--clr-rose);
    box-shadow: 0 14px 28px #e11d4840,0 10px 10px #e11d4838,0 0 100px -25px var(--clr-rose);
  }

@media only screen and (min-width: 1650px){

    .project{
        gap: 4rem;
    }

    .project__title{
        font-size: var(--size-7xl);
    }

    .project__container {
        width: 80%;
    }

    .project__details {
        padding: 0 1.3rem;
    }

    .project__subtitle {
        font-size: var(--size-4xl);
    }

    .project__description {
        font-size: var(--size-3xl);
        line-height: 2.8rem;
        margin: 2rem 0;
    }

    .project__btn button {
        height: 3.5rem;
        width: 7.2rem;
        font-size: var(--size-xl);
        margin-top: .8rem;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1496px){

    .project__container{
        width: 80%;
        margin: 0 auto;
    }
  }  

@media only screen and (min-width: 768px) and (max-width: 1280px) {

    .project__container{
        width: 100%;
        margin: 0 auto;
    }

    .project__subtitle{
        font-size: var(--size-xl);
    }
    
    .project__description{
        font-size: var(--size-base);
    }

    .project__btn button {
        height: 2.4rem;
        width: 5rem;
        font-size: var(--size-xs);
    }
 }

@media only screen and (max-width: 768px){

    .project__container{
        width: 100%;
        margin: 0 auto;
    }

    .project__title{
        font-size: var(--size-4xl);
    }

    .project__subtitle{
        font-size: var(--size-lg);
    }
    
    .project__description{
        font-size: var(--size-sm);
    }

    .project__btn button {
        height: 2.4rem;
        width: 5rem;
        font-size: var(--size-xs);
    }
}

@media only screen and (min-width: 640px) and (max-width: 767px){
     
    .project__container{
        width: 100%;
        margin: 0 auto;
    }

    .project__title{
        font-size: var(--size-4xl);
        color: var(--clr-dark);  
       }

    .project__subtitle{
        font-size: var(--size-base);
    }
    
    .project__description{
        font-size: var(--size-xs);
        line-height: 1.3rem;
    }

    .project__btn button {
        height: 2.4rem;
        width: 5rem;
        font-size: var(--size-xs);
        margin-top: .5rem;
    }
}

@media (max-width: 639px) {

    .project__title{
     font-size: var(--size-3xl);
     color: var(--clr-dark);  
    }

    .project__container{
        display: block;
    }

    .project__name{
        display: block;
        font-size: var(--size-lg);
        margin-bottom: 1.5rem;
    }

    .project__subtitle{
        display: none;
    }

    .project__description{
        font-size: var(--size-base);
        margin: 1.5rem 0;
    }

    .project__details{
        padding-bottom: 5rem;
    }

    .project__btn button {
        height: 2.5rem;
        width: 5.4rem;
        font-size: var(--size-sm);
    }
}