.skills{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.skills__title{
    font-size: var(--size-5xl);
    color: var(--clr-dark);
}

.skills__conatiner{
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    gap: 3rem;
}

.skill{
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 6px 9px -1px rgba(0, 0, 0, .25);
    cursor: pointer;
}

.skill img{
    width: 4.6875rem;
}

.skill .version{
    font-weight: 500;
    color: var(--clr-dark);
}

@media only screen and (min-width: 1650px){

    .skills {
        gap: 4rem;
    }

    .skills__title {
        font-size: var(--size-7xl);
    }

    .skills__conatiner {
        grid-template-columns: repeat(3, 28rem);
        gap: 5rem;
    }

    .skill {
        height: 17rem;
       box-shadow:  0 9px 20px -1px rgba(0, 0, 0, 0.2);
    }

    .skill img {
        width: 7.5rem;
    }

    .skill .version {
        font-size: var(--size-2xl);
    }
}

@media only screen and (min-width: 1024px) and (max-width:1440px){

    .skills__conatiner{
        grid-template-columns: repeat(3, 19rem);
        gap: 2.5rem;
    }
}


@media only screen and (min-width: 768px) and (max-width:1023px){

    .skills__title{
        font-size: var(--size-4xl);
    }

    .skills__conatiner{
        grid-template-columns: repeat(2, 20rem);
    }
}

@media only screen and (min-width: 475px) and (max-width: 767px){

    .skills__title{
        font-size: var(--size-4xl);
    }

    .skills__conatiner{
        grid-template-columns: repeat(1, 20rem);
    }
}

@media only screen and (max-width: 475px){

    .skills__title{
        font-size: var(--size-3xl);
    }

    .skills__conatiner{
        grid-template-columns: repeat(1, 18.5rem);
        margin: 0 auto;
    }
}

@media only screen and (max-width: 305px){
    
    .skills__conatiner{
        grid-template-columns: repeat(1, 15.9rem);
    }

    .skill img{
        width: 4.5rem;
    }
    
    .skill{
        height: 11rem;
    }
}